body{
  height:100%;
  width:100%;
  align-content: center;
  background-image: url(https://media1.tenor.com/images/53840498f0a596c7d71a827ede1bb99c/tenor.gif?itemid=12403122);
}
.intro{
  height: 100%;
  widith:100%;
  margin:auto;
  top: 0;
  background-size: cover;
}
h1{
  color: maroon;
}

p{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  text-align: center;
}
#result{
  display: flex; justify-content: center;
}
.refresh{
  display: flex; justify-content: center;
  margin-left: 25px;
}
.container{
  background: green;
opacity: 0.8;
width: 60%;
padding: 70px;
margin:20px auto;
}
