

}
p{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  text-align: center;
}
#result{
  display: flex; justify-content: center;
}
.refresh{
  display: flex; justify-content: center;
  margin-left: 25px;
}
.body{
  background: grey;
opacity: 0.7;
width: 60%;
padding: 70px;
margin:20px auto;
}
