body{
  height:100%;
  width:100%;
  align-content: center;
  background-image: url(https://afinde-production.s3.amazonaws.com/uploads/c21cd981-cce3-4b5e-aefd-151801706fcb.gif);
}
.intro{
  height: 100%;
  widith:100%;
  margin:auto;
  top: 0;
  background-size: cover;
}
h1{
  color: maroon;
}

p{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  text-align: center;
}
#result{
  display: flex; justify-content: center;
}
.refresh{
  display: flex; justify-content: center;
  margin-left: 25px;
}
.container{
  background: green;
opacity: 0.8;
width: 60%;
padding: 70px;
margin:20px auto;
}
